/*font-family: 'Oxygen', sans-serif; */
:root {
  --white: #f9f9f9;
  --tan: #ded5c4;
  --orange: #ef7e56;
  --blue: #305973;
  --default-font: "Roboto Mono", monospace;
}
h1 {
  font-weight: bold;
}

.hero {
  font-family: var(--default-font);
  background: var(--white);
  color: var(--blue);
  text-align: center;
  padding: 160px 20px;
}
.btn-branding {
  background: var(--orange);
  color: var(--white);
  border-radius: 8px;
  padding: 12px 25px;
  font-size: 16px;
  line-height: 25px;
}
.text-center {
  font-family: var(--default-font);
  color: var(--blue);
  background: var(--tan);
  font-weight: bold;
}
.container {
  font-family: var(--default-font);
  background: var(--white);
  color: var(--blue);
  text-align: center;
}
.project-image {
  background-color: var(--tan);
  max-width: 50%;
  border-radius: 5px;
  border-color: var(--blue);
}
