/*font-family: 'Oxygen', sans-serif; */
:root {
  --white: #f9f9f9;
  --green: #9fd3c7;
  --blue: #385170;
  --dark: #142d4c;
  --default-font: "Roboto Mono", monospace;
}
h1 {
  font-weight: bold;
}

.hero {
  font-family: var(--default-font);
  background: var(--white);
  color: var(--blue);
  text-align: center;
  padding: 160px 20px;
}
.btn-branding {
  background: var(--green);
  color: var(--dark);
  border-radius: 8px;
  border-color: var(--dark);
  padding: 12px 25px;
  font-size: 16px;
  line-height: 25px;
}
.text-center {
  font-family: var(--default-font);
  color: var(--blue);
  background: var(--green);
  font-weight: bold;
}
.container {
  font-family: var(--default-font);
  background: var(--white);
  color: var(--blue);
  text-align: center;
}
.project-image {
  background-color: var(--tan);
  max-width: 50%;
  border-radius: 5px;
  border-color: var(--blue);
}
.about-section {
  font-family: var(--default-font);
  background: var(--white);
  color: var(--blue);
  text-align: center;
  padding: 160px 20px;
}
.about-image {
  max-height: 400px;
  border-radius: 50px;
  border-color: var(--dark);
}
.resume {
  font-family: var(--default-font);
  background: var(--white);
  color: var(--blue);
  text-align: center;
  padding: 160px 20px;
}
.resume h1 {
  color: var(--dark);
}
.contact-section {
  font-family: var(--default-font);
  background: var(--white);
  color: var(--dark);
  text-align: center;
  padding: 160px 20px;
}
